doctype html
html(lang="pt-BR")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Duran Duran | Página Inicial
        link(rel="stylesheet" href="/style.css")
    body 
        header
            img(src="/logo.svg" alt="logo" width="100")
        nav  
            a(href="/catalogar") Catalogar  
        main 
            div(class="catalogo") 
                each produto in prod
                    hr
                    div(class="produto-cabecalho")
                        h1 #{ produto.nome }
                        span #{ produto.marca }
                        br
                        a(href=`/produto/${produto.codigo}`)
                            img(src=produto.imagem, alt="imagem do produto", width="200px")
                    div(class="produto-rodape")
                        h2 #{ produto.preco }
                        
                    hr
                else 
                    h1 Não há produtos cadastrado.