doctype html
html(lang="pt-BR")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Duran Duran | Produtos
    body 
        header
            img(src="/logo.svg", alt="logo", width="100px")
        nav 
            a(href="/") Página Inicial 
            a(href="/catalogar") Catalogar  
        main 
            div(class=" catalogo")
                if produto
                    div(class="produto")
                        div(class="produto-rodape")
                            h1 #{ produto.nome }
                            span #{ produto.marca }
                        div(class="produto-rodape")
                            img(src=produto.imagem, alt="imagem do produtso", width="200px")
                            h2 #{ produto.preco }
                            a(href=`/excluir/${ produto.codigo}`) Excluir produto
                            br
                            a(href=`/atualizar/${ produto.codigo}`) editar produto
                else    
                    | produto não tem        
                